 * {
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
 }

 html {
     color: #89c2d9;
 }




 body {
     font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
 }

 .hero {
     background: rgb(28, 48, 93);
     background: radial-gradient(circle, rgba(28, 48, 93, 1) 0%, rgba(3, 13, 34, 1) 100%);
     color: #89c2d9;
     position: fixed;
     width: 100%;
 }

 .top-header {
     display: flex;
     justify-content: space-between;
     padding: 0 1rem;
 }

 h1 {
     text-align: center;
     font-size: 1.5rem;
 }

 .menu {
     display: flex;
     justify-content: space-evenly;
     list-style: none;
     padding: .5rem;

 }

 .menu li a:hover {
     color: #41ead4;
 }


 main {
     padding-top: 5rem;
     background-color: blue;
     background-image: url(../MULTIMEDIA/moroccan-flower-dark.png);
     width: 100vw;
 }


 .carrusel-contenedor {
     margin: auto;
     width: 80vw;
     height: 20vh;
     overflow: hidden;
     background-image: url(../MULTIMEDIA/jewellery.jpg);
     background-size: cover;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
     flex-wrap: wrap;

 }

 h3 {
     font-size: 2rem;
 }

 .cintillo {
     font-size: .75rem;
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     justify-content: space-between;
     align-items: center;
     width: 100vw;
     height: 12vh;
     background: rgb(28, 48, 93);
     background: radial-gradient(circle, rgba(28, 48, 93, 1) 0%, rgba(3, 13, 34, 1) 100%);
     color: #a9d6e5;
     list-style: none;

 }

 .cintillo li {
     flex: 1 1 0;
     text-decoration: none;
 }

 .contenedor {
     width: 100%;
     max-width: 1000px;
     margin: auto;
     overflow: hidden;
 }

 .button {
     display: flex;
     justify-content: center;
     align-items: center;

 }

 button {
     background: rgb(35, 9, 128);
     background: radial-gradient(circle, rgba(35, 9, 128, 1) 0%, rgba(3, 13, 34, 1) 100%);
     width: 50%;
     border-radius: 180px;
     text-align: center;
     font-size: 1.5rem;

     text-decoration: none;
     color: #a9d6e5;
     margin-top: 20px;

 }

 button a {
     text-decoration: none;
     color: #a9d6e5;
 }


 .imagen-port-index {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     height: 100%;
     width: 100%;
     object-fit: contain;
 }

 .imagen-port-index>a>img {
     width: 200px;
     height: 200px;
     padding: 1.5rem;
     border-radius: 110px;
 }

 .imagen-port {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     height: 100%;
     width: 100%;
     object-fit: contain;
 }

 .imagen-port>img {
     width: 200px;
     height: 200px;
     padding: 1.5rem;
     border-radius: 110px;
 }



 footer {
     background: rgb(28, 48, 93);
     background: radial-gradient(circle, rgba(28, 48, 93, 1) 0%, rgba(3, 13, 34, 1) 100%);
     color: #89c2d9;
     width: 100vw;
     overflow: hidden;
     text-align: center;
 }

 .contenedor-footer {
     display: grid;
     row-gap: 3px;
     font-size: 1rem;
 }

 .mail-tel {
     display: flex;
     justify-content: space-around;
     font-size: 1rem;
 }

 .sociales {
     display: flex;
     justify-content: space-around;
     font-size: 1.5rem;
 }




 .titulo-final {
     text-align: center;
     font-size: .5rem;
     margin: 10px 0 0 0;
 }

 .video {
     display: flex;
     justify-content: center;
     padding: 5% 5%;
 }

 .contenedor-formulario {
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
     align-content: center;
     height: 60vh;
     background-image: url(../MULTIMEDIA/moroccan-flower-dark.png);
     color: #89c2d9;
     font-size: 20px;
 }

 .contenedor-legend {
     text-align: center;
     padding: 1rem;
     background-image: url(../MULTIMEDIA/pyramid.gif);
 }

 .contenedor-botones {
     padding-top: 2rem;
 }

 a {
     text-decoration: none;
     color: #89c2d9;
 }

 a:hover {
     color: #41ead4;
     transform: scale(1.1);
 }



 @media only screen and (min-width: 768px) {
     .menu {
         font-size: 1.5rem;
     }

     .carrusel-contenedor {
         height: 30vh;
     }

     .cintillo {
         font-size: 1rem;
     }

     button {
         width: 200px;
     }

     .imagen-port-index>a>img {
         width: 300px;
         height: 300px;
         padding: 1rem;
         border-radius: 66px;
     }

     .imagen-port>img {
         width: 300px;
         height: 300px;
         padding: 1rem;
         border-radius: 66px;
     }


     .sociales {

         font-size: 1.8rem;
     }

     .contenedor-footer {
         display: grid;
         font-size: 1.3rem;
         grid-template-columns: 1fr 1fr;


     }
 }




 @media only screen and (min-width: 1024px) {
     .top-header {
         padding: 1rem;
     }

     .carrusel-contenedor {
         height: 40vh;
     }

     h1 {
         font-size: 2rem;
     }

     .imagen-port-index>a>img {
         width: 300px;
         height: 300px;
         padding: 1.5 rem;
         border-radius: 98px;
     }

     .contenedor-footer {
         display: grid;
         grid-template-columns: 1fr 1fr;
     }

     .titulo-final {
         font-size: 1rem;

     }

     button{
         margin-top: 70px
     }

 }